* {
    border: none;
    border-radius: 10;
    font-size: 15px;
    font-family: iosevka, Arial, sans-serif;
    min-height: 0;
    margin: 0 5px;
}

window#waybar {
   background: rgba(0, 0, 0, 0.);
   color: white;
   /*border-bottom: 0px solid transparent;*/
}

#custom-storage, 
#pulseaudio, 
#backlight, #memory, #cpu, 
#temperature, #battery, #network, #tray, 
#custom-media, #workspaces button, 
#custom-weather, #clock, #custom-pacman, 
#idle_inhibitor, 
#custom-backward, #custom-forward
{
    background: rgba(99, 99, 99, 0.3);
    padding: 0 8px;
    /*margin: 0 5px;*/
    border-bottom: 2px solid;

}

#custom-weather
{
    /*margin: 0 5px;*/
}

#clock, #custom-pacman, #idle_inhibitor {
    background: transparent;
    padding: 0 5px;
    margin: 0;
    /*border-radius: 0;*/
}

#idle_inhibitor{
    border-bottom-right-radius: 0;
}
#clock{
    border-radius: 0;
}
#custom-pacman{
    border-bottom-left-radius: 0;
}

#custom-backward, #custom-forward, #custom-media{
    /*background-color: transparent;*/
    border-bottom: 2px solid #66cc99;
    color: green;
    /*padding: 0 3px;*/
}
#custom-media{
    margin: 0;
    border-radius: 0;
    padding: 2px;
}
#custom-backward{
    margin-right: 0;
    padding-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
#custom-forward{
    margin-left: 0;
    padding-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
/*.custom-spotify {*/
    /*background: #66cc99;*/
    /*color: #2a5c45;*/
/*}*/

#custom-storage {
    color: royalblue;
}

#workspaces button {
    color: #fdf6e3;
    padding: 0 5px;
}
#workspaces button.focused {
    color: #268bd2;
}
#workspaces button.urgent {
    color: red;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    border: #1a1a1a;
}
#pulseaudio {
    color: #268bd2;
}
#pulseaudio.muted {
    color: #90b1b1;
    /*color: #2a5c45;*/
}

#backlight {
    color: gray;
}

#clock {
    color: white;
}

#memory {
    color: #2aa198;
}

#temperature {
    color: #b58900
}

#temperature.critical {
    color: red;
}

#cpu {
    color: #6c71c4;
}

#network {
    color: #859900;
}

#battery {
	color: grey;
}

#battery.charging {
	color: green;
}

#battery.warning:not(.charging) {
	color: orange;
}

#battery.critical:not(.charging) {
	color: red;
}
